<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
{% block head %}{% endblock %}
<link rel="stylesheet" type="text/css" href="/static/styles/main.css"></link>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="/static/tinymce/jscripts/tiny_mce/tiny_mce.js" ></script >
<script type="text/javascript" src="/static/js/jquery.easing.1.3.js" ></script >
<script type="text/javascript" src="/static/js/common.js" ></script >

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>BBSITE - {% block title %}the good stuff{% endblock %}</title>
</head>
<body>
	<div id="doc-header-wrapper">
		<div id="doc-header">
			<div id="doc-header-title">
				<span id="inner">BB</span>SITE
			</div>
		</div>
	</div>
	<div id="doc-wrapper">
		<div id="col1">
			<div id="expand-col1"></div>
	    	{% block content %}{% endblock %}
	    </div>
		<div id="col2">
			{% load webdesign %}
			{% lorem 1 %}
		</div>
		<div id="doc-footer">
			<div id="doc-footer-content">
			</div>
			<div id="doc-footer-copyright">
				<div id="doc-footer-copyright-bg">
					&copy; <b>BBSITE</b>. All Rights Reserved.
				</div>
			</div>
		</div>
	</div>
</body>
</html>