{% extends "base-generic.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/styles/fruity.css"></link>
<link rel="stylesheet" type="text/css" href="/static/styles/blogs.css"></link>
{% endblock %}

{% block title %}Recent Entries{% endblock %}

{% block content %}
	{% for blog in blogs %}		
		<div class="article">
			<span class="blogs-title">
				<a href="../blog/title/{{ blog.slug }}">{{ blog.title }}</a>
			</span>
			
			<span class="blogs-subtitle">
				Published <div class="pub-date">{{ blog.pub_date|date:"F dS, Y" }}</div> by 
				<a href="" class="blogs-author">{{ blog.author }}</a>
			</span>
			
			<span class="blogs-content">
				{{ blog.content|safe|truncatewords_html:100 }}
				<a href="../blog/title/{{ blog.slug }}" class="blogs-readmore">Read more...</a>
			</span>
			
			<span class="blogs-tags-header">
				<span class="blogs-tags-title">
					Tagged:
				</span>			
				<span class="blogs-tags">
					{% for tag in blog.tags.all %}
						<a href="">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
					{% endfor %}
				</span>
			</span>
		</div>
	{% endfor %}
{% endblock %}