{% extends "base-generic.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/styles/blog.css"></link>
<link rel="stylesheet" type="text/css" href="/static/styles/comment.css"></link>
<link rel="stylesheet" type="text/css" href="/static/styles/fruity.css"></link>
{% endblock %}

{% block title %}{{ blog.title }}{% endblock %}

{% block content %}
	<span class="blog-title">
		{{ blog.title }}
	</span>
	
	<span class="blog-subtitle">
		Published <div class="pub-date">{{ blog.pub_date|date:"l F dS, Y \a\t g:i A" }}</div> by 
		<a href="" class="blog-author">{{ blog.author }}</a>
	</span>
	
	{{ blog.last_edit_date }} -- {{ blog.editor }} <br/>

	<span class="blog-content">
		{{ blog.content|safe }}
	</span>

	<span class="blog-tags-header">
		<span class="blog-tags-title">
			Tagged:
		</span>
		<span class="blog-tags">
			{% for tag in blog.tags.all %}
				<a href="">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
			{% endfor %}
		</span>
	</span>
	
	{% load comments %}
	{% get_comment_count for blog as comment_count %}
	{% get_comment_list for blog as comments %}
	
	<span class="comment-count">
		{% load humanize %}
		
		There {% ifequal comment_count 1 %} is {% else %} are {% endifequal %}
		{{ comment_count|apnumber }} comment{{ comment_count|pluralize }} for this post:
	</span>
	
	{% get_comment_list for blog as comments %}
	{% for comment in comments %}
		{% if not comment.is_removed and comment.is_public %}
			{% ifequal comment.user blog.author %}
				<span class="comment-poster">
					by <span class="comment-author">{{ comment.user_name }}</span> on {{ comment.submit_date|date:"l F dS, Y"  }} at {{ comment.submit_date|date:"g:i A" }}: <br/>
				</span>
				<span class="comment-post-author">
					{{ comment.comment }}
				</span>
			{% else %}
				{% if comment.user %}
					<span class="comment-poster">
						by <span class="comment-user">{{ comment.user_name }}</span> on {{ comment.submit_date|date:"l F dS, Y"  }} at {{ comment.submit_date|date:"g:i A" }}: <br/>
					</span>
					<span class="comment-post-user">
						{{ comment.comment }}
					</span>					
				{% else %}			
					<span class="comment-poster">
						by <span class="comment-anon">{{ comment.user_name }}</span> on {{ comment.submit_date|date:"l F dS, Y"  }} at {{ comment.submit_date|date:"g:i A" }}: <br/>
					</span>
					<span class="comment-post">
						{{ comment.comment }}
					</span>
				{% endif %}
			{% endifequal %}
		{% endif %}
	{% endfor %}
	<br/>
	
	{% if blog.comments_enabled %}
		<div id="leave-comment">Leave a comment:</div>
		{% get_comment_form for blog as form %}
		<div id="comment_form">
		    {% render_comment_form for blog %}
		</div>
	{% else %}
	<div id="comments-disabled">
		Comments have been disabled for this article.
	</div>
	{% endif %}
{% endblock %}