{% extends "base-generic.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/styles/fruity.css"></link>
{% endblock %}

{% block title %}{{ blog.title }}{% endblock %}

{% block content %}
	Written by {{ blog.author }} on {{ blog.pub_date|date:"l F dS, Y" }} at {{ blog.pub_date|date:"g:i A" }}<br/>
	{{ blog.last_edit_date }} -- {{ blog.editor }} <br/>
	{% for status in blog.PUB_STATUS %}
		{% ifequal status.0 blog.status %}
			{{ status.1 }}
		{% endifequal %}
	{% endfor %} <br/>
	{{ blog.comments_enabled }}
	&nbsp;&nbsp;{{ blog.content|safe }} <br/><br/>
	{% for tag in blog.tags.all %}
	{{ tag.name }} 
	{% endfor %}
	
	<br/>
	{% load comments %}	
	{% get_comment_count for blog as comment_count %}
	There 
	{% ifequal comment_count 1 %} is {% else %} are {% endifequal %}
	{{ comment_count }} comment{{ comment_count|pluralize }} for this post:
	<br/>
	{% get_comment_list for blog as comments %}
	{% for comment in comments %}
		{% if not comment.is_removed and comment.is_public %}
			by {{ comment.user_name }} on {{ comment.submit_date|date:"l F dS, Y"  }} at {{ comment.submit_date|date:"g:i A" }}: <br/>
			{{ comment.comment }}
			{{ comment.id }}
			<br/>
		{% endif %}
	{% endfor %}
	<br/>
	{% if blog.comments_enabled %}
		{% get_comment_form for blog as form %}
		<table>
		  <form action="{% comment_form_target %}" method="post">
		    {{ form }}
		    <tr>
		      <td colspan="2">
		        <input type="submit" name="submit" value="Post">
		        <input type="submit" name="preview" value="Preview">
		      </td>
		    </tr>
		  </form>
		</table>
	{% else %}
	Comments have been disabled for this post
	{% endif %}
{% endblock %}