.article
{
	padding: 10px 0;
}

.blogs-title a
{
	display: block;
	font: bold 25px Baskerville, ‘Times New Roman’, Times, serif;
	text-decoration: none;
}

.blogs-subtitle
{
	display: block;
	font-size: 13px;
	color: #444;
	font-style: italic;
}

a.blogs-author
{
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	color: #0D2F5E;
	display: inline;
	font-style: normal;
}

.blogs-content
{
	clear: both;
	margin-top: 10px;
	display: block;
	font-size: 15px;
}

a.blogs-readmore
{
	display: inline-block;
	color: #666;
	font-style: italic;
	font-size: 13px;
}

a.blogs-readmore:hover
{
	color: #0D2F5E;
}

.blogs-tags-header
{
	display: block;
	clear: both;
	margin-top: 10px;
}

.blogs-tags a
{
	display: inline-block;
	font-size: 13px;
	color: #555;
}

.blogs-tags a:hover
{
	color: #587EBF;
}