.blog-title
{
	display: block;
	font-size: 28px;
	font-weight: bold;
	text-decoration: none;
	color: #A00;
}

.blog-subtitle
{
	display: block;
	font-size: 13px;
	color: #777;
	font-style: italic;
}

a.blog-author
{
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	color: #0D2F5E;
	display: inline;
}

a.blog-author:hover
{
	color: #1B62C4;
}

.blog-content
{
	clear: both;
	margin-top: 10px;
	display: block;
	font-size: 15px;
	padding: 15px 5px;
	border: 1px solid #DDD;
	border-right: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
	/*border-radius: 5px;*/
}

.blog-tags-header
{
	display: block;
	clear: both;
	margin-top: 10px;
}

.blog-tags-title
{
	color: #555;
}

.blog-tags a
{
	display: inline-block;
	font-size: 13px;
	color: #1B62C4;	
	padding: 4px;
	background: #E9E9E9;
	border-radius: 4px;
}

.blog-tags a:hover
{
	background: #C8DCE9;
	color: #144991;
}

.comment-count
{
	position: relative;
	display: block;
	margin: 15px 0;
	padding: 15px 0 0 0;
	border-top: 2px solid #555;
}

.comment-poster
{
	display: block;
	font-size: 13px;
	color: #777;
	font-style: italic;
}

.comment-author
{
	color: #444;
	font-weight: bold;
}

.comment-post
{
	position: relative;
	display: block;
	width: 740px;
	margin: 5px 0 10px 10px;
	padding: 10px;
	border: 1px solid #CCC;
	background: #EEE;
}