.article
{
	padding: 0 0 10px 0;
	margin: 0 0 5px 0;
	border-bottom: 2px solid #555;
}

.blogs-title a
{
	display: inline-block;
	font-size: 28px;
	font-weight: bold;
	text-decoration: none;
	color: #A00;
}

.blogs-subtitle
{
	display: block;
	font-size: 13px;
	color: #777;
	font-style: italic;
}

a.blogs-author
{
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	color: #0D2F5E;
	display: inline;
}

a.blogs-author:hover
{
	color: #1B62C4;
}

.blogs-content
{
	clear: both;
	margin-top: 10px;
	display: block;
	font-size: 15px;
	border: 1px solid #DDD;
	border-right: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
	padding: 15px 5px;
	/*border-radius: 5px;*/
}

a.blogs-readmore
{
	display: inline-block;
	color: #666;
	font-style: italic;
	font-size: 13px;
}

a.blogs-readmore:hover
{
	color: #0D2F5E;
}

.blogs-tags-header
{
	position: relative;
	display: inline-block;
	clear: both;
	margin-top: 10px;
}

.blogs-tags-title
{
	color: #555;
}

.blogs-tags a
{
	display: inline-block;
	font-size: 13px;
	color: #1B62C4;	
	padding: 4px;
	background: #E9E9E9;
	border-radius: 4px;
}
.blogs-tags a:hover
{
	background: #C8DCE9;
	color: #144991;
}