*
{
	margin: 0px;
	padding: 0px;
	font-family: 'Reader Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #222;
}

body
{
	background: #DDD;	
}

#doc-header-wrapper
{
	position: relative;
	background: #444;
	width: 100%;
	height: 125px;
	border-bottom: 2px solid #333;
}

#doc-header
{
	position: relative;
	float: left;
	background: #222;
	width: 100%;
	height: 85px;
	margin-top: 25px;
	border-bottom: 2px solid #666;
	border-top: 1px solid #888;
	border-left: 0px;
	border-right: 0px;
}

#doc-header-title
{
	position: relative;
	width: 1000px;
	height: 40px;
	padding: 20px 0 20px 0;
	margin: 0 auto;
	line-height: 40px;
	font: 40px Baskerville, ‘Times New Roman’, Times, serif;
	color: #EEE;
}

#doc-wrapper
{
	position: relative;
	clear: both;
	background: #FFF;
	margin: 0 auto;
	width: 1000px;
	border: 1px solid #777;
	border-top: 0px;
	border-bottom: 0px;
}

/* from http://matthewjamestaylor.com/blog/equal-height-columns-cross-browser-css-no-hacks */
#container2
{
	position: relative;
	float: left;
	width: 1000px;
	overflow: hidden;
}

#container1
{
	position: relative;
	float: left;
	width: 1000px;
	right: 200px;
	border-right: 2px solid #AAA;
}

#col1
{
	position: relative;
	float: left;
	width: 780px;
	left: 210px;
	overflow: hidden;
	padding: 10px 0;
}

#col2
{
	position: relative;
	float: left;
	width: 180px;
	left: 230px; /* 230px because of col1 */
	overflow: hidden;
	padding: 10px 0;
}

#doc-footer
{
	position: relative;
	background: #0D2F5E;
	clear: both;
	border: 1px solid #071933;
	border-left: 0px;
	border-right: 0px;
	height: 80px;
	width: auto;
}

#doc-footer-content
{
	position: relative;
	clear: both;
	height: 60px;
	width: auto;	
}

#doc-footer-copyright
{
	position: relative;
	clear: both;
	height: 20px;
	line-height: 20px;
	width: auto;
	text-align: center;
	font-family: Baskerville, ‘Times New Roman’, Times, serif;
	color: #EEE;
}

