*
{
	margin: 0px;
	padding: 0px;
	font-family: 'Reader Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #222;
}

body
{
	background: #E8E8E8;	
}

#doc-header-wrapper
{
	position: relative;
	background: #92CD00;
	/*background: #C3D2DB;*/
	/*background: #BAE09D;*/
	width: 100%;
	height: 125px;
	border-bottom: 1px solid #BBB;
}

#doc-header
{
	position: relative;
	float: left;
	background: #2C6700;
	/*background: #E8E8E8;*/
	width: 100%;
	height: 85px;
	margin-top: 25px;
	border-top: 1px solid #AAA;
	border-bottom: 1px solid #BBB;
	border-left: 0px;
	border-right: 0px;
}

#doc-header-title, #doc-header-title #inner
{
	position: relative;
	width: 1000px;
	height: 40px;
	padding: 10px 0 20px 0;
	margin: 0 auto;
	line-height: 40px;
	font: bold 55px Baskerville, ‘Times New Roman’, Times, serif;
	color: #555F66;
}

#doc-header-title #inner
{
	color: #111;
}

#doc-wrapper
{
	position: relative;
	clear: both;
	background: #FFF;
	margin: 10px auto;
	width: 1000px;
	border: 1px solid #777;
	box-shadow: 1px 1px 2px #888;
}

/* from http://matthewjamestaylor.com/blog/equal-height-columns-cross-browser-css-no-hacks */
#container2
{
	position: relative;
	float: left;
	width: 1000px;
	overflow: hidden;
}

#container1
{
	position: relative;
	float: left;
	width: 1000px;
	right: 200px;
	border-right: 2px solid #777;
}

#col1
{
	position: relative;
	float: left;
	width: 780px;
	left: 210px;
	overflow: hidden;
	padding: 10px 0;
}

#col2
{
	position: relative;
	float: left;
	width: 180px;
	left: 230px; /* 230px because of col1 */
	overflow: hidden;
	padding: 10px 0;
}

#doc-footer
{
	position: relative;
	background: #2C6700;
	/*background: #C3D2DB;*/
	clear: both;
	border: 1px solid #777;
	border-left: 0px;
	border-right: 0px;
	height: 80px;
	width: auto;
}

#doc-footer-content
{
	position: relative;
	clear: both;
	height: 60px;
	width: auto;	
}

#doc-footer-copyright
{
	position: relative;
	clear: both;
	height: 20px;
	line-height: 20px;
	width: auto;
	text-align: center;
	font-family: Baskerville, ‘Times New Roman’, Times, serif;
}

